# Archivos de entorno y configuración local
*.pyc
__pycache__/
.env
*.env

# Archivos de MS Office temporales
~$*

# Dataset original si es privado o pesado
*.xlsx

# Carpeta de entorno virtual (si la tienes)
env/
venv/
.venv/

# Carpeta de salida o informes generados
informe/
*.pdf
*.docx

~$*
*.docx